In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import Activation
from keras.models import load_model

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/YALINYAN-YU/DAV-Capstone/main/consolidated_coin_data.csv', thousands=',')
df.head()

  Currency          Date  Open  High   Low  Close      Volume  Market Cap
0    tezos  Dec 04, 2019  1.29  1.32  1.25   1.25  46048752.0   824588509
1    tezos  Dec 03, 2019  1.24  1.32  1.21   1.29  41462224.0   853213342
2    tezos  Dec 02, 2019  1.25  1.26  1.20   1.24  27574097.0   817872179
3    tezos  Dec 01, 2019  1.33  1.34  1.25   1.25  24127567.0   828296390
4    tezos  Nov 30, 2019  1.31  1.37  1.31   1.33  28706667.0   879181680

In [ ]:
df["price change"] = ""
df

         Currency          Date  Open  ...      Volume  Market Cap  price change
0           tezos  Dec 04, 2019  1.29  ...  46048752.0   824588509
1           tezos  Dec 03, 2019  1.24  ...  41462224.0   853213342
2           tezos  Dec 02, 2019  1.25  ...  27574097.0   817872179
3           tezos  Dec 01, 2019  1.33  ...  24127567.0   828296390
4           tezos  Nov 30, 2019  1.31  ...  28706667.0   879181680
...           ...           ...   ...  ...         ...         ...           ...
28939  bitcoin-sv  May 02, 2013  3.78  ...         0.0    58287979
28940  bitcoin-sv  May 01, 2013  4.29  ...         0.0    65604596
28941  bitcoin-sv  Apr 30, 2013  4.40  ...         0.0    74020918
28942  bitcoin-sv  Apr 29, 2013  4.37  ...         0.0    75388964
28943  bitcoin-sv  Apr 28, 2013  4.30  ...         0.0    74636938

[28944 rows x 9 columns]

In [ ]:
N = len(df['price change'])

for i in range(N-1):
  
    #df.iloc.  = df.iloc[i+1,3]/df.iloc[i,3]

    
    df['price change'].iloc[i] = df.iloc[i+1,3]/df.iloc[i,3]-1

df['price change'].iloc[N-1] = 0.0

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
import math

In [ ]:
df['changeRate']=''
df

         Currency          Date  Open  ...  Market Cap  price change  changeRate
0           tezos  Dec 04, 2019  1.29  ...   824588509             0
1           tezos  Dec 03, 2019  1.24  ...   853213342    -0.0454545
2           tezos  Dec 02, 2019  1.25  ...   817872179     0.0634921
3           tezos  Dec 01, 2019  1.33  ...   828296390     0.0223881
4           tezos  Nov 30, 2019  1.31  ...   879181680    -0.0218978
...           ...           ...   ...  ...         ...           ...         ...
28939  bitcoin-sv  May 02, 2013  3.78  ...    58287979     0.0792079
28940  bitcoin-sv  May 01, 2013  4.29  ...    65604596     0.0481651
28941  bitcoin-sv  Apr 30, 2013  4.40  ...    74020918             0
28942  bitcoin-sv  Apr 29, 2013  4.37  ...    75388964    -0.0371991
28943  bitcoin-sv  Apr 28, 2013  4.30  ...    74636938             0

[28944 rows x 10 columns]

In [ ]:
N = len(df['changeRate'])

for i in range(N):
  
    
    df['changeRate'].iloc[i] = abs(df['price change'].iloc[i])

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
df['breakout']=''
df

         Currency          Date  Open  ...  price change  changeRate  breakout
0           tezos  Dec 04, 2019  1.29  ...             0           0
1           tezos  Dec 03, 2019  1.24  ...    -0.0454545   0.0454545
2           tezos  Dec 02, 2019  1.25  ...     0.0634921   0.0634921
3           tezos  Dec 01, 2019  1.33  ...     0.0223881   0.0223881
4           tezos  Nov 30, 2019  1.31  ...    -0.0218978   0.0218978
...           ...           ...   ...  ...           ...         ...       ...
28939  bitcoin-sv  May 02, 2013  3.78  ...     0.0792079   0.0792079
28940  bitcoin-sv  May 01, 2013  4.29  ...     0.0481651   0.0481651
28941  bitcoin-sv  Apr 30, 2013  4.40  ...             0           0
28942  bitcoin-sv  Apr 29, 2013  4.37  ...    -0.0371991   0.0371991
28943  bitcoin-sv  Apr 28, 2013  4.30  ...             0           0

[28944 rows x 11 columns]

In [ ]:
N = len(df['breakout'])

for i in range(N):
  if df['changeRate'].iloc[i] >= 5:
    df['breakout'].iloc[i] = 1
  else:
    df['breakout'].iloc[i] = 0

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
df.head()

  Currency          Date  Open  ...  price change  changeRate  breakout
0    tezos  Dec 04, 2019  1.29  ...             0           0         0
1    tezos  Dec 03, 2019  1.24  ...    -0.0454545   0.0454545         0
2    tezos  Dec 02, 2019  1.25  ...     0.0634921   0.0634921         0
3    tezos  Dec 01, 2019  1.33  ...     0.0223881   0.0223881         0
4    tezos  Nov 30, 2019  1.31  ...    -0.0218978   0.0218978         0

[5 rows x 11 columns]

In [ ]:
df3 = df[df["Currency"] == "bitcoin-cash"]
df3

           Currency          Date    Open  ...  price change  changeRate  breakout
14472  bitcoin-cash  Dec 04, 2019  212.68  ...    0.00258541  0.00258541         0
14473  bitcoin-cash  Dec 03, 2019  215.50  ...    0.00810462  0.00810462         0
14474  bitcoin-cash  Dec 02, 2019  216.38  ...    0.00155308  0.00155308         0
14475  bitcoin-cash  Dec 01, 2019  218.99  ...      0.034206    0.034206         0
14476  bitcoin-cash  Nov 30, 2019  224.98  ...   -0.00471865  0.00471865         0
...             ...           ...     ...  ...           ...         ...       ...
16879  bitcoin-cash  May 02, 2013  116.38  ...      0.113774    0.113774         0
16880  bitcoin-cash  May 01, 2013  139.00  ...     0.0503253   0.0503253         0
16881  bitcoin-cash  Apr 30, 2013  144.00  ...    0.00381134  0.00381134         0
16882  bitcoin-cash  Apr 29, 2013  134.44  ...    -0.0780392   0.0780392         0
16883  bitcoin-cash  Apr 28, 2013  135.30  ...     -0.999585    0.999585         0

[2412 rows x 11 columns]

In [ ]:
df2 = df3.drop(['Currency',  'Date', 'price change', 'changeRate'], axis=1)

In [ ]:
df2.head()

         Open    High     Low   Close        Volume  Market Cap breakout
14472  212.68  216.60  205.89  209.29  1.441055e+09  3798514529        0
14473  215.50  217.16  211.62  212.86  1.072207e+09  3862794370        0
14474  216.38  218.92  212.36  215.66  1.164377e+09  3913199174        0
14475  218.99  219.26  212.50  216.17  1.260405e+09  3922144119        0
14476  224.98  226.76  217.43  218.91  1.309093e+09  3971434832        0

In [ ]:
df1 = df2[['Open', 'breakout']].copy()

In [ ]:
df1.head()

         Open breakout
14472  212.68        0
14473  215.50        0
14474  216.38        0
14475  218.99        0
14476  224.98        0

In [ ]:
# We want 80% of the data to be used for training, and 20% for testing
n_train_rows = int(df1.shape[0]*.8)-1

# Split into train and test sets but keep all 9 columns
train = df1.iloc[:n_train_rows, :]
test = df1.iloc[n_train_rows:, :]

# The total rows of the two datasets should equal the total amount of rows in your CSV
print(train.shape)
print(test.shape)

(1928, 2)
(484, 2)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
# Normalise features
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = sc.fit_transform(train.values)
test_set_scaled = sc.fit_transform(test.values)

In [ ]:
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
import numpy as np

In [ ]:
steps=50

In [ ]:
print(train.shape)

(1928, 2)

In [ ]:
# Prepare the training data
x_train = [] # input
y_train = [] # output

for i in range(steps, training_set_scaled.shape[0]-steps): #50 to 26538-50
    # i starts from 50

    x_train.append(training_set_scaled[i-steps:i, :])
    y_train.append(training_set_scaled[i, :])

x_train, y_train = np.array(x_train), np.array(y_train)
print(x_train.shape)
print(y_train.shape)

(1828, 50, 2)
(1828, 2)

In [ ]:
# Prepare the test data
x_test = []
y_test = []

for i in range(steps, test_set_scaled.shape[0]):
    x_test.append(test_set_scaled[i-steps:i, :])
    y_test.append(test_set_scaled[i, :])

x_test, y_test = np.array(x_test), np.array(y_test)
print(x_test.shape)

(434, 50, 2)

In [ ]:
from keras.layers import Dropout
from keras.layers import Activation
from keras.models import load_model

In [ ]:
x_train.shape
y_train.shape

(1828, 2)

In [ ]:
#original model

model = Sequential()

epochs = 10
model.add(LSTM(units=50, return_sequences=True, input_shape= (x_train.shape[1],2)))
model.add(Dropout(0.2))
model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50))
model.add(Dropout(0.2))
model.add(Dense(units=2))

# Compile model
model.compile(loss="mse",optimizer="adam", metrics=['accuracy'])

# Fit the model
history = model.fit(x_train, y_train, batch_size=32, epochs=10)

# list all data in history
print(history.history.keys())

Epoch 1/10
58/58 [==============================] - 12s 94ms/step - loss: 0.0053 - accuracy: 0.8189
Epoch 2/10
58/58 [==============================] - 6s 99ms/step - loss: 0.0015 - accuracy: 0.7341
Epoch 3/10
58/58 [==============================] - 6s 100ms/step - loss: 9.2438e-04 - accuracy: 0.7222
Epoch 4/10
58/58 [==============================] - 6s 102ms/step - loss: 7.7187e-04 - accuracy: 0.7395
Epoch 5/10
58/58 [==============================] - 6s 106ms/step - loss: 7.3346e-04 - accuracy: 0.7495
Epoch 6/10
58/58 [==============================] - 6s 99ms/step - loss: 8.7122e-04 - accuracy: 0.7418
Epoch 7/10
58/58 [==============================] - 6s 99ms/step - loss: 7.1289e-04 - accuracy: 0.7251
Epoch 8/10
58/58 [==============================] - 6s 100ms/step - loss: 6.3306e-04 - accuracy: 0.7671
Epoch 9/10
58/58 [==============================] - 6s 99ms/step - loss: 5.8915e-04 - accuracy: 0.7227
Epoch 10/10
58/58 [==============================] - 6s 100ms/step - loss: 7.5849e-04 - accuracy: 0.6794
dict_keys(['loss', 'accuracy'])

In [ ]:
# Evaluate the model on the test data using `evaluate`
print('\n# Evaluate on test data')
results = model.evaluate(x_test, y_test, batch_size=32)
print('test loss, test acc:', results)

# Evaluate on test data
14/14 [==============================] - 2s 23ms/step - loss: 0.0046 - accuracy: 0.9977
test loss, test acc: [0.004639254882931709, 0.9976958632469177]

### **7 features**

In [ ]:
df2.head()

         Open    High     Low   Close        Volume  Market Cap breakout
14472  212.68  216.60  205.89  209.29  1.441055e+09  3798514529        0
14473  215.50  217.16  211.62  212.86  1.072207e+09  3862794370        0
14474  216.38  218.92  212.36  215.66  1.164377e+09  3913199174        0
14475  218.99  219.26  212.50  216.17  1.260405e+09  3922144119        0
14476  224.98  226.76  217.43  218.91  1.309093e+09  3971434832        0

In [ ]:
# We want 80% of the data to be used for training, and 20% for testing
n_train_rows = int(df2.shape[0]*.8)-1

# Split into train and test sets but keep all 9 columns
train = df2.iloc[:n_train_rows, :]
test = df2.iloc[n_train_rows:, :]

# The total rows of the two datasets should equal the total amount of rows in your CSV
print(train.shape)
print(test.shape)

(1928, 7)
(484, 7)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
# Normalise features
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = sc.fit_transform(train.values)
test_set_scaled = sc.fit_transform(test.values)

In [ ]:
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
import numpy as np

In [ ]:
steps=50

In [ ]:
# Prepare the training data
x_train = [] # input
y_train = [] # output

for i in range(steps, training_set_scaled.shape[0]-steps): #50 to 26538-50
    # i starts from 50

    x_train.append(training_set_scaled[i-steps:i, :])
    y_train.append(training_set_scaled[i, :])

x_train, y_train = np.array(x_train), np.array(y_train)
print(x_train.shape)
print(y_train.shape)

In [ ]:
# Prepare the training data
x_train = [] # input
y_train = [] # output

for i in range(steps, training_set_scaled.shape[0]-steps): #50 to 26538-50
    # i starts from 50

    x_train.append(training_set_scaled[i-steps:i, :])
    y_train.append(training_set_scaled[i, :])

x_train, y_train = np.array(x_train), np.array(y_train)
print(x_train.shape)
print(y_train.shape)

(1828, 50, 7)
(1828, 7)

In [ ]:
# Prepare the test data
x_test = []
y_test = []

for i in range(steps, test_set_scaled.shape[0]):
    x_test.append(test_set_scaled[i-steps:i, :])
    y_test.append(test_set_scaled[i, :])

x_test, y_test = np.array(x_test), np.array(y_test)
print(x_test.shape)

(434, 50, 7)

In [ ]:
from keras.layers import Dropout
from keras.layers import Activation
from keras.models import load_model

In [ ]:
x_train.shape
y_train.shape

(1828, 7)

In [ ]:
#original model

model = Sequential()

epochs = 10
model.add(LSTM(units=50, return_sequences=True, input_shape= (x_train.shape[1],7)))
model.add(Dropout(0.2))
model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50))
model.add(Dropout(0.2))
model.add(Dense(units=7))

# Compile model
model.compile(loss="mse",optimizer="adam", metrics=['accuracy'])

# Fit the model
history = model.fit(x_train, y_train, batch_size=32, epochs=10)

# list all data in history
print(history.history.keys())

Epoch 1/10
58/58 [==============================] - 12s 95ms/step - loss: 0.0084 - accuracy: 0.2008
Epoch 2/10
58/58 [==============================] - 6s 99ms/step - loss: 0.0025 - accuracy: 0.3182
Epoch 3/10
58/58 [==============================] - 6s 98ms/step - loss: 0.0022 - accuracy: 0.3464
Epoch 4/10
58/58 [==============================] - 6s 99ms/step - loss: 0.0019 - accuracy: 0.3884
Epoch 5/10
58/58 [==============================] - 6s 98ms/step - loss: 0.0018 - accuracy: 0.3827
Epoch 6/10
58/58 [==============================] - 6s 100ms/step - loss: 0.0019 - accuracy: 0.4243
Epoch 7/10
58/58 [==============================] - 6s 99ms/step - loss: 0.0015 - accuracy: 0.4306
Epoch 8/10
58/58 [==============================] - 6s 105ms/step - loss: 0.0014 - accuracy: 0.4580
Epoch 9/10
58/58 [==============================] - 6s 100ms/step - loss: 0.0012 - accuracy: 0.4390
Epoch 10/10
58/58 [==============================] - 6s 100ms/step - loss: 0.0012 - accuracy: 0.4481
dict_keys(['loss', 'accuracy'])

In [ ]:
# Evaluate the model on the test data using `evaluate`
print('\n# Evaluate on test data')
results = model.evaluate(x_test, y_test, batch_size=32)
print('test loss, test acc:', results)

# Evaluate on test data
14/14 [==============================] - 2s 22ms/step - loss: 0.0085 - accuracy: 0.3894
test loss, test acc: [0.008538463152945042, 0.3894009292125702]